<app-header (search)="onSearch($event)"></app-header>
<mat-progress-spinner *ngIf="loading" mode="indeterminate" style="margin: 0 auto;"></mat-progress-spinner>
<table *ngIf="!loading" mat-table [dataSource]="users" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let user" (click)="navigateToDetails(user.id)"> {{ user.id }} </td>
  </ng-container>

  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let user" (click)="navigateToDetails(user.id)"> {{ user.first_name }} </td>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let user" (click)="navigateToDetails(user.id)"> {{ user.last_name }} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user" (click)="navigateToDetails(user.id)"> {{ user.email }} </td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> Avatar </th>
    <td mat-cell *matCellDef="let user" (click)="navigateToDetails(user.id)">
      <img [src]="user.avatar" alt="{{ user.first_name }} {{ user.last_name }}" class="avatar">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'first_name', 'last_name', 'email', 'avatar']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'first_name', 'last_name', 'email', 'avatar'];"></tr>
</table>



<mat-paginator 
  [length]="totalUsers" 
  [pageSize]="6" 
  [pageSizeOptions]="[6, 12, 24]" 
  (page)="onPageChange($event)">
</mat-paginator>